Unhandled Critical Extensions

Hello,

I was wondering if anyone could help me understand why critical extensions are explicitly errored out if checks for them are not disabled?
Line in question:
https://github.com/google/certificate-transparency-go/blob/741f2412675886c9928db64157290cec87a55fce/x509/verify.go#L571

Is it because of the numerous potential implementations?

Thanks!

This fork of Go's `x509` deliberately allows for lax parsing/checking, so that strictly-invalid can still be added to a CT log.

However, a correct implementation "MUST reject the certificate if it encounters a critical extension it does not recognize" ([RFC 5280 section 4.2](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2))

> Is it because of the numerous potential implementations?

If I understand this question correctly, yes. There are many implementations (on issuance/CAs end, and those who parse/accept certs such as UAs/browsers). The implementations might be not strictly following the spec. CT allows certs that "nearly" follow the spec to make such certificates still discoverable.